.accordion-table {
    h4,
    p {
        margin-bottom: 0;
    }

    td,
    th {
        padding: 1.25rem 1.25rem 1rem 1.25rem;
    }

    thead {
        background-color: $brand-navy;
        color: $white;
        th {
            border-bottom: 0;
        }
    }
    a,
    .details-link {
        color: $brand-dark-blue;
        &:hover {
            cursor: pointer;
            text-decoration: none;
        }
    }

    .details-link[aria-expanded='true'] {
        .fa-caret-down {
            transform: rotate(180deg);
        }
    }

    .details {
        background-color: $brand-light-gray;
        border-bottom: 3px solid $brand-blue-alt;

        h4 {
            margin-bottom: 0.5rem;
        }

        // add padding to child TD with colspan 4
        > td {
            padding: 10px 20px 5px 20px;
        }

        td {
            border-top: none !important;
        }
    }
}

.ncbi {
    display: inline-block;
}
.biocyc {
    display: inline-block;
    margin-left: 55px;
}

.details-item {
    position: relative;
    &:before {
        content: '\25A0';
        color: $brand-blue-alt;
        font-size: 1.5rem;
        position: absolute;
        top: -7px;
        left: -19px;
    }
}

.parent {
    &.has-border-top {
        th,
        td {
            border-top: 3px solid $brand-blue-alt;
        }
    }
}
