.accordion-table {
    .details-link {
        &:hover {
            cursor: pointer;
        }
    }
    .details {
        background-color: $brand-light-gray;
        border-bottom: 3px solid $brand-blue-alt;
        padding: 50px;

        td {
            border-top: none !important;
        }
    }
}

.has-border-top {
    border-top: 3px solid $brand-blue-alt;
}
