header {
    @include media-breakpoint-up(lg) {
        background-size: cover;
    }

    .header-top {
        @extend .d-md-flex;
        align-items: center;
        background-color: $white;
        margin: 0;
        padding: 1.5rem 2.8rem;
        // 45 w 25 h
    }

    .header-bottom {
        margin: 0;
    }
    .logo {
        display: block;
        margin: 0 auto;
        width: 130px;
        @include media-breakpoint-up(md) {
            margin-right: auto;
            margin-left: 0;
        }
        @include media-breakpoint-up(lg) {
            width: 170px;
        }

        img {
            height: auto;
            width: 130px;
            @include media-breakpoint-up(lg) {
                width: 170px;
            }
        }
    }

    .page-title-container {
        flex-direction: column;
        justify-content: flex-end;
        display: flex;
        height: 200px;
    }

    .page-title {
        background-color: rgba(23, 56, 98, 0.9);
        color: $white;
        padding: 20px 25px;
        h1 {
            margin-bottom: 0;
        }
    }

    .bg-dark {
        background-color: rgba(23, 56, 98, 0.9) !important;
    }

    .navbar-toggler {
        border: none;
        margin: 0 auto;
    }
}
