.list-news {
    li {
        display: flex;
        margin-bottom: 40px;

        img {
            margin-right: 30px;
        }

        .news-content {
            flex-basis: 100%;
        }
    }
}

.home-publicaitons,
.home-news {
    background: $white;
    margin-top: -140px;
    padding: 20px 20px 0 20px;
}

.home-publicaitons {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    @include media-breakpoint-up(lg) {
        margin-right: 0;
    }
}

.home-news {
    margin-right: -1.5rem;
    margin-left: -1.5rem;
    @include media-breakpoint-up(lg) {
        margin-left: 0;
    }
}
