.slider {
    background-color: $brand-light-gray;
    padding: 3.125rem 0;
}

.logo-slider {
    margin-bottom: 0;

    img {
        display: block;
        margin: 0 auto;
    }
}

.slick-arrow {
    border: none;
    color: $brand-navy;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slick-prev {
    left: 0px;
    @include media-breakpoint-up(md) {
        left: -20px;
    }
}
.slick-next {
    right: 0px;
    @include media-breakpoint-up(md) {
        right: -20px;
    }
}
