@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/Gotham-Book.woff2') format('woff2'),
        url('../fonts/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Italic';
    src: url('../fonts/Gotham-BookItalic.woff2') format('woff2'),
        url('../fonts/Gotham-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('../fonts/Gotham-Bold.woff2') format('woff2'),
        url('../fonts/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');

$gothambook: 'Gotham Book', sans-serif;
$gothamitalic: 'Gotham Italic', sans-serif;
$gothambold: 'Gotham Bold', sans-serif;

html,
body {
    color: #414042;
    font-family: $gothambook;
    font-size: 16px;
    line-height: 1.5;
}

strong {
    font-family: $gothambold;
}

em {
    font-family: $gothamitalic;
}

h1 {
    font-family: $gothambook;
    font-size: 2.125rem;
    line-height: 1.1;
}

h2 {
    font-family: $gothambold;
    font-size: 1.5rem;
    line-height: 1.1;
}

h3 {
    font-family: $gothambold;
    font-size: 1.3rem;
    line-height: 1.1;
}

h4 {
    font-family: $gothambold;
    font-size: 1rem;
    line-height: 1.1;
}

p {
    font-family: $gothambook;
    font-size: 1rem;
    line-height: 1.5;
}

.lead {
    color: #279bd2;
    font-size: 2rem;
    line-height: 1.125;
}

.lead-section {
    padding: 30px 25px 16px 25px;
    background-color: $brand-light-gray;
    margin: 0 -25px 40px -25px;
}

figure {
    img {
        margin-bottom: 20px;
    }
}

figcaption {
    font-family: $gothamitalic;
    font-size: 0.875rem;
}
